* {
    font-size: 14px;
    font-weight: 600;
}

img {
    width: auto;
    height: auto;
}

.order-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order-page__left {
    width: 80%;
}

.order-page__right {
    width: 20%;
    font-size: 14px;
}